html
{
  height: 100%;
  width: 100%;
}

body
{
  background-color: ghostwhite;
  color: black;
}

ul {
  border: 1px solid #e7e7e7;
  column-width: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  position: sticky;
  top: 0;
  width: 100%;
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #89cff0;
}

/* Adds a background color to the active page header*/
.active {
  background-color: #1e90ff;
}

/* sets the style for h1 titles*/
h1
{
  color: #111;
  text-align: center;
  font-family: "Fira Sans";
  font-size: 40px;
  font-weight: bold;
  font-variant: normal;
  text-decoration-line: underline;
}

#picture
{
  color: #111;
  text-align: left;
  font-family: "Fira Sans";
  font-size: 20px;
  font-weight: bold;
  font-variant: normal;
  text-decoration-line: underline;
}

#areas
{
  color: #111;
  text-align: left;
  font-family: "Fira Sans";
  font-size: 20px;
  font-weight: bold;
  font-variant: normal;
  text-decoration-line: underline;
}

#origin
{
  color: #111;
  text-align: left;
  font-family: "Fira Sans";
  font-size: 20px;
  font-weight: bold;
  font-variant: normal;
  text-decoration-line: underline;
}

#hierarchy
{
  color: #111;
  text-align: left;
  font-family: "Fira Sans";
  font-size: 20px;
  font-weight: bold;
  font-variant: normal;
  text-decoration-line: underline;
}
#dictator
{
  color: #111;
  text-align: left;
  font-family: "Fira Sans";
  font-size: 20px;
  font-weight: bold;
  font-variant: normal;
  text-decoration-line: underline;
}
.image-container {
  position: relative;
  overflow: hidden;
}

#moving-image {
  position: absolute;
}
